/* * {
    border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #84cfe4;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid black;
    width: 400px;
    height: 500px;
}

.calculator-top {
    background-color: #4b5561;
}

.display {
    background-color: #c8cac7;
}

.calculator-pad {
    background-color: #f2f3f5;
}
